body{
    background-color: #000000;
}
.main-container{
    width: 498px;
    height: 250px;
    top: -365px;
    left: -535px;
    background-color: #ffffff;
    box-sizing: border-box;
}
#signupForm{
    padding: 5px 0px 5px 10px;
}
.group1 {
    padding-left: 15px;
    margin-top: 20px;
    width: 360px;
    height: 202px;
    top: 19px;
    left: 23px;
    border-radius: 5px;
    border: 0px 0px 0px 0px solid #000000;
}
.group2{
    width: 360px;
    height: 51px;
    top: 107px;
    left: 23px;
    border-radius: 5px;
    border: 0px 0px 0px 0px solid #000000;

}
label{
    width: 74px;
    height: 17px;
    font-weight: 400;
    font-size: 12px;
    list-style: 14.52px;

}
input{
    width: 360px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #000000;
}

button{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
    width: 128px;
    height: 27px;
    top: 199px;
    left: 23px;
    border-radius: 40px;
    border: 1px solid #000000;
}
::placeholder{
    width: 130px;
    height: 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #555555;
    left: 32px;
    padding-left: 10px;

}


.error {
    padding-top: 10px;
    width: 345px;
    height: 15px;
    top: 168px;
    left: 23px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #ff0000;
}

.success {
    color: green;
}

.formStatus{
    width: 83px;
    height: 15px;
    top: 162px;
    left: 23px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #219f35;
}
